/* SongWrapperComponent.module.css */

.songWrapper {
  /* margin-top: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* border: 2px solid red; */
}

.songContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}
.songTitle {
  margin-top: 5rem;
  color: #333;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.artistName {
  color: #666;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 15px;
}

.songImage {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
