.SearchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  /* border: 2px solid red; */
}

.SearchInputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #333;
  background-color: transparent;
}

.searchButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #2c3e50;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #1a1d23;
}

.SearchBarContainer label {
  font-size: 1rem;
  color: #333;
}

.RadioContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  font-size: 1rem;
  color: #555;
}

.RadioButtons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.RadioButtons input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.RadioButtons input[type="radio"]:checked {
  border: 2px solid var(--primary-color);
}

.RadioButtons label {
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  margin-left: 0.3rem;
}
